{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h2 class="edit-title">Create a New Wanted Listing</h2>
    <div class="row">
        <div class="col-lg-3">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                
                {{ form.as_p }}
                
                <button type="submit" class="btn btn-primary my-2">Create Listing</button>
            </form>
        </div>
        <div class="container col-lg-8 text-center">
            <img src="{% static 'images/marines.png' %}" alt="Marines Logo" class="img-fluid">
        </div>  
    </div>    
</div>

{% endblock %}
