{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container row">
    <div class="form-container col-lg-4 col-md-4">
        <h2 class="edit-title">Edit Pirate Listing</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
        <a href="{% url 'pirate_detail' pirate.slug %}" class="btn btn-secondary mt-4">Cancel</a>
    </div>    
    <div class="container col-lg-8 text-center">
        <img src="{% static 'images/marines.png' %}" alt="Marines Logo" class="img-fluid">
    </div>
</div>
{% endblock %}
