{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for wanted in wanted_list %}
                <div class="col-md-4">
                    <div class="card border-primary text-center mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in wanted.pirate_image.url %}
                                <img class="card-img-top rounded-bottom img-fluid" src="{% static 'images/marines.png' %}" alt="placeholder image">
                                {% else %}
                                    <img class="card-img-top rounded-bottom img-fluid" src="{{ wanted.pirate_image.url}}" alt="{{ wanted.pirate_name }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Submitted by: {{ wanted.author }}</p>
                                </div>
                            </div>                         
                            <a href="{% url 'pirate_detail' slug=wanted.slug %}" class="post-link">
                                <h2 class="card-title name">{{ wanted.pirate_name }}</h2>
                            </a>
                            <hr>
                            <p class="card-text text-muted h6">Bounty: {{ wanted.formatted_bounty }}</p>
                            <p class="{% if wanted.get_status_display == 'At Large!' %}text-danger{% endif %}">{{ wanted.get_status_display }}</p>
                            <p class="card-text text-muted h6">Created on: {{ wanted.created_on }}</p>
                            <p class="card-text text-muted h6">Updated on:{{ wanted.updated_on }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li>
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link btn-primary">&laquo; PREV</a>
        </li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link btn-primary"> NEXT &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
</div>
{% endblock %}
