{% extends "base.html" %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div class="image-container ">     
                    <img src="{{ pirate.pirate_image.url }}" alt="Image of {{ pirate.pirate_name }}" class="img-fluid">                
            </div>
        </div>     
        <div class="details col-lg-8 col-md-8">
            <h1 class="name">{{ pirate.pirate_name }}</h1>
            <p><strong>Bounty:</strong> {{ pirate.formatted_bounty }}</p>
            <p><strong>Description:</strong> {{ pirate.description }}</p>
            <p><strong>Status:</strong> {{ pirate.get_status_display }}</p>
            <p><strong>Created On:</strong> {{ pirate.created_on }}</p>
            <p><strong>Reported by:</strong> {{ pirate.author.username }}</p>
            <div class="btn-container">  
                <div>
                    {% if request.user == pirate.author %}
                    <a href="{% url 'edit_pirate' pirate.slug %}" class="btn btn-primary ">Edit</a>
                    {% endif %}
                </div>

                <div>
                    {% if request.user == pirate.author %}
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                    {% endif %}
                </div>
            </div>  
            <!-- Delete Confirmation Modal -->
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this listing for {{ pirate.pirate_name }}?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <form method="POST" action="{% url 'delete_pirate' pirate.slug %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>

{% endblock %}
